
/*======================
    404 page
=======================*/


.page_404{ 
    padding:40px 0; 
    background:#fff; 
    font-family: 'Arvo', serif;
}

.page_404  img{ 
    width:100%;
}

div.backgroundImage img{
    width: 600px;
    height: 400px;
    background-position: center;
    margin: auto;
}
 
.four_zero_four_bg h1{
    font-size:120px;
}
 
.four_zero_four_bg h3{
	font-size:80px;
    size: 10rem;
}
.text-center {
    margin-left: 50px;
}
.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
h3 {
    font-weight: inherit;
    font-size: 2em;
}
.contant_box_404{ 
    margin-top:-50px;
    margin-left: 50px;
}